* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.box {
    display: grid;
    width: 70%;
    box-shadow: black 5px 5px 20px;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.l {
    background-color: #d68a2e;
    grid-column: span 2;
    height: 100px;
}

.xl {
    background-color: #b7c600;
    grid-column: span 4;
    height: 150px;
}

.medium {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.md {
    background-color: #3e73af;
    height: 80px;
}

.s {
    background-color: #bebebe;
    height: 50px;
}

@media screen and (max-width: 1200px){
    .box {
        grid-template-columns: repeat(2, 1fr);
    }

    .l, .xl, .md {
        grid-column: span 2;
    }


    .medium {
        grid-column: span 2;
        grid-template-columns: repeat(2, 1fr);
    }

    .s {
        grid-column: span 1;
    }
}

@media screen and (max-width: 768px){
    .box {
        grid-template-columns: 1fr;
    }
    .box div {
        grid-column: span 1;
    }

    .medium {
        grid-column: span 1;
        grid-template-columns: 1fr;
    }

}