.label {
    width: 750px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    width: 150px;
    height: 30px;
    background-color: #04AA6D;
    margin: 5px;
    padding: 10px;
    display: flex;
    border-radius: 2px;
    justify-content: space-evenly;

}