* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Light", "Arial", sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.sidebar {
    padding: 10px 0;
    grid-column: 1/2;
    background-color: #2b2b2b;
    color: white;
    display: flex;
    justify-content: center;
}

.box {
    grid-column: 2/4;
}

.box {
    margin: 20px 0;
}

.box .label {
    padding: 20px;
    margin: 20px 0;
    box-shadow: black 1px 1px 5px;
}

.sidebar:last-of-type {
    grid-column: 4/5;
}

@media screen and (max-width: 1200px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }

    .box {
        grid-column: span 2;
    }

    .sidebar {
        grid-column: span 1;
    }

    .sidebar:last-of-type {
        grid-column: span 1;
    }
}

@media screen and (max-width: 786px) {
    main {
        grid-template-columns: 1fr;
    }

    .box, .sidebar{
        grid-column: span 1;
    }
}