* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b;
    color: white;
    padding: 20px 200px;
}
nav a{
    margin: 10px;
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 100px;
    width: 50%;
}

.box {
    margin: 20px;
    background-color: #d1d1d1;
    padding: 20px;
    border-radius: 5px;
}

.box h3, .box h4, .box p{
    margin: 20px 0;
}

footer {
    text-align: center;
    background-color: #2b2b2b;
    color: white;
    padding: 20px;
}