body {
    font-family: "Roboto Light", "Arial", sans-serif;
    text-align: center;
    background-color: #f8f9fa;
}
.container {
    padding: 50px 20px;
}
h1 {
    font-size: 28px;
}
p {
    font-size: 16px;
    opacity: 0.7;
    max-width: 600px;
    margin: 10px auto;
}
.button {
    margin: 20px;
}
.download, .learnMore {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}
.download {
    background-color: #007bff;
    color: white;
    border: none;
}
.learnMore {
    background-color: white;
    color: black;
    border: 1px solid gray;
}
.footer {
    margin-top: 50px;
    padding: 20px;
    background: #f1f1f1;
}
.icon {
    font-size: 24px;
    margin: 10px;
}
.icon a {
    margin: 0 10px;
    color: #666666;
    text-decoration: none;
}
.text {
    font-size: 12px;
    color: #999999;
}

span {
    text-decoration: underline dotted #999999;
}

hr {
    width: 40px;
    margin: 30px auto;
}