
.box {
    border: 1px solid black;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
.square {
    background-color: #3366ff;
    display: flex;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

